@model IndexDashboardViewModel

@{
    ViewData["Title"] = "Основная панель";
}

<div class="text-center">
    <h1 class="display-4">Основная панель</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Наслелённый пункт</th>
            <th scope="col">Адрес дома</th>
            <th scope="col">Количество квартир</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>ХХХ</td>
            <td>awkj dnajwn djkfjse fjhas ejfasjerhf asjher fjahsre gfjsargjas 12</td>
            <td>ЫЫЫЫ</td>
            <td>
                <div>
                    <button class="btn btn-primary">Редактировать</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <td>Larry</td>
            <td>the Bird</td>
            <td>twitter</td>
        </tr>
        </tbody>
    </table>
</div>