@model IndexDashboardViewModel

@{
    ViewData["Title"] = "Основная панель";
}

<div class="text-center">
    <h1 class="display-4">Основная панель</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Наслелённый пункт</th>
            <th scope="col">Адрес дома</th>
            <th scope="col">Количество квартир</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="table-body">
        
        </tbody>
    </table>
</div>

<script type="module">
import { renderPage } from "/js/pages/dashboard-index/index.js";

renderPage({});
</script>